{% extends "base.html" %}

{% block title %}
Men category | Metronic Shop UI
{% endblock title %}

<!-- Body BEGIN -->
{% block body %}
{% load filters %}


<div class="title-wrapper">
  <div class="container">
    <div class="container-inner">
      <h1><span>MEN</span> CATEGORY</h1>
      <em>Over 4000 Items are available here</em>
    </div>
  </div>
</div>

<div class="main">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li class="active" id="plist-store"><a href="{% url 'product_list' %}"></a>Store</li>
      <li class="active hidden" id="plist-search">Search</li>

    </ul>
    <!-- BEGIN SIDEBAR & CONTENT -->
    <div class="row margin-bottom-40">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar col-md-3 col-sm-5">
        <ul class="list-group margin-bottom-25 sidebar-menu sidebarul">
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
              Ladies</a></li>
          <li class="list-group-item clearfix dropdown active">
            <a href="javascript:void(0);" class="collapsed">
              <i class="fa fa-angle-right"></i>
              Mens

            </a>
            <ul class="dropdown-menu" style="display:block;">
              <li class="list-group-item dropdown clearfix active">
                <a href="javascript:void(0);" class="collapsed"><i class="fa fa-angle-right"></i> Shoes </a>
                <ul class="dropdown-menu" style="display:block;">
                  <li class="list-group-item dropdown clearfix">
                    <a href="javascript:void(0);"><i class="fa fa-angle-right"></i> Classic </a>
                    <!-- <ul class="dropdown-menu">
                            <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic 1</a></li>
                            <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic 2</a></li>
                          </ul> -->
                  </li>
                  <li class="list-group-item dropdown clearfix">
                    <a href="javascript:void(0);" class="collapsed"><i class="fa fa-angle-right"></i> Sport </a>
                    <!-- <ul class="dropdown-menu" style="display:block;">
                            <li class="active"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport 1</a></li>
                            <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport 2</a></li>
                          </ul> -->
                  </li>
                </ul>
              </li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Trainers</a></li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Jeans</a></li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Chinos</a></li>
              <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> T-Shirts</a></li>
            </ul>
          </li>
          <li class="list-group-item clearfix"><a href="{% url 'kids' %}"><i class="fa fa-angle-right"></i> Kids</a>
          </li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
              Accessories</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
              Sports</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
              Brands</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i>
              Electronics</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Home &
              Garden</a></li>
          <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Custom
              Link</a></li>
        </ul>

        <div class="sidebar-filter margin-bottom-25">
          <h2>Filter</h2>
          <h3>Availability</h3>
          <div class="checkbox-list">
            <label><input name="newbox" id="newbox" type="checkbox"> New</label>
            <label><input name="salebox" id="salebox" type="checkbox"> Sale</label>
          </div>

          <h3>Price</h3>
          <p>
            <label for="amount">Range:</label>
            <input readonly='true' name="slider" type="text" id="amount"
              style="border:0; color:#f6931f; font-weight:bold;">
          </p>
          <div id="slider-range" data-min="0" data-max="500"></div>
        </div>

        <div class="sidebar-products clearfix">
          <h2>Bestsellers</h2>
          {% for item in c_items %}
          <div class="item">
            <a href="{% url 'item' id=item.product.id %}"><img src={{item.product.imageURL}}
                alt="Some Shoes in Animal with Cut Out"></a>
            <h3><a id="name{{product.id}}" href="{% url 'item' id=item.product.id %}">{{item.product.name}}</a></h3>
            <div class="price">${{item.product.price}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- END SIDEBAR -->

      <!-- BEGIN CONTENT -->
      <div class="col-md-9 col-sm-7">
        <div class="content-search margin-bottom-20">
          <div class="row">
            <div class="col-md-6">
              <h1 id="searchedFor" class="searchedFor">Search for <em>Products</em></h1>
            </div>
            <div class="col-md-6">
              <form method="POST" action="{% url 'search_result' %}">
                {% csrf_token %}
                <div class="input-group">
                  <input id="searchBox" name="searchBox" type="text" placeholder="Search" value="" class="form-control">
                  <span class="input-group-btn">
                    <button name="plist-search" id="search" class="btn btn-primary" type="submit">Search</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row list-view-sorting clearfix">
          <div class="col-md-2 col-sm-2 list-view">
            <a href="javascript:;"><i class="fa fa-th-large"></i></a>
            <a href="javascript:;"><i class="fa fa-th-list"></i></a>
          </div>
          <div class="col-md-10 col-sm-10">
            <div class="pull-right">
              <label class="control-label">Show:</label>
              <select class="selectOption selectItemNo" id="showNo" class="form-control input-sm">
                <option value="#?limit=24">2</option>
                <option value="#?limit=25">5</option>
                <option value="#?limit=50" selected="selected">10</option>
                <option value="#?limit=75">15</option>
                <option value="#?limit=100">20</option>
              </select>
            </div>
            <div class="pull-right">
              <label class="control-label">Sort&nbsp;By:</label>
              <select class="selectOption selectOrder" id="mySelect" class="form-control input-sm">
                <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
              </select>
            </div>
          </div>
        </div>
        <!-- CONTENT END -->

        <!-- BEGIN PRODUCT LIST -->
        <div class="row product-list products-filter">

          {% for product in products|slice:":10" %}
          {% if forloop.counter0|mod:3 %}
          <div class="row product-list"></div>
          {% endif %}
          <!-- PRODUCT ITEM START -->
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="product-item">
              <div class="pi-img-wrapper">
                <img id="image{{product.id}}" src={{product.imageURL}} class="img-responsive" alt="{{product.name}}">
                <div>
                  <a href="{{product.imageURL}}" class="btn btn-default fancybox-button">Zoom</a>
                  <a href="#{{product.id}}pop-up" class="btn btn-default fancybox-fast-view">View</a>
                </div>
              </div>
              <h3><a id="name{{product.id}}" href="{% url 'item' id=product.id %}">{{product.name}}</a></h3>
              <div class="pi-price">$<span id="price{{product.id}}">{{product.price|floatformat:2}}</span></div>
              <a data-id={{product.id}} data-action="add" href="javascript:;" class="btn btn-default add2cart">Add to
                cart</a>
              {% if product.sale %}
              <div class="sticker sticker-sale"></div>
              {% endif %}
              {% if product.new %}
              <div class="sticker sticker-new"></div>
              {% endif %}
            </div>
          </div>
          <!-- PRODUCT ITEM END -->
          {% endfor %}
        </div>
        <!-- END PRODUCT LIST -->


        <!-- BEGIN PAGINATOR -->
        <div class="row">
          <div class="col-md-4 col-sm-4 items-info" id="pageOfTotal">Page <span id="currentPage">{{items.number}}</span>
            of Total <span id="totalPages">{{items.paginator.num_pages}}</span></div>
          <div class="col-md-8 col-sm-8">
            <ul class="pagination pull-right">
              <li><a href="javascript:;">&laquo;</a></li>
              {% for i in items.paginator.page_range %}
              {% if items.number == i %}
              <li class="page" id="page{{i}}"><span>{{i}}</span></li>

              {% else %}
              <li class="page" id="page{{i}}"><a>{{i}}</a></li>
              {% endif %}
              {% endfor %}
              <li><a href="javascript:;">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- END PAGINATOR -->
      </div>
      <!-- END CONTENT -->
    </div>
    <!-- END SIDEBAR & CONTENT -->
  </div>
</div>


{% endblock body %}

{% block js %}

<script>

  $(function () {
    // Initialize the slider
    $("#slider-range").slider({
      range: true,
      min: 0,
      max: 500,
      values: [0, 500], // initial values
      slide: function (event, ui) {
        // Update the text input with the current values
        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
      }
    });

    // Set the initial values in the text input
    $("#amount").val("$0 - $500")
  });

</script>

{% endblock js %}